/* Base Styles from skeleton css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  line-height: 1.5;
  font-family: "Asap", Trebuchet, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666; }

p {
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.2px;
}

input[type="text"] {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  &:focus {
    border: 1px solid #41D3BD;
    outline: 0;
  }
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

$max-width: 700px;
$border-radius: 4px;

$grey: #555;
$light-grey: lighten($grey, 10%);
$lightest-grey: lighten($grey, 20%);
$border-color: #D1D1D1;
$base-color: #41D3BD;

%centered-main-column {
  max-width: 0.9 * $max-width;
  width: 90vw;
}

html {
  background-color: #fafafa;
}

.hidden {
  display: none !important;
}

#main-container {
  padding-top: 20vh;
  margin: auto;
  max-width: $max-width;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.header-broken {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; 
  font-size: 3rem;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  color: $grey;
}

#help-content {
  font-size: 0.85em;
  text-align: center;
  color: $lightest-grey;
}

form {
  @extend %centered-main-column;
  z-index: 99;
  margin-bottom: 24px;
  white-space: nowrap;

  .url-input {
    width: 100%;
    margin: 0;
    padding-right: 70px;
  }

  .url-submit, .btn-options {
    $width: 26px;
    width: $width;
    height: $width;
    line-height: $width;
    text-align: center;
    cursor: pointer;
    margin-left: -40px;
    padding: 0;
    font-size: 14px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    svg {
      height: $width;
      width: $width - 10;
      vertical-align: middle;
      fill: $lightest-grey;
    }
    &:hover {
      background-color: #eee;
    }
    &:focus {
      outline: none;
    }
  }

  .btn-options {
    margin-left: -54px;
  }
}

%centered-info {
  @extend %centered-main-column;
  background-color: white;
  margin: -32px 0 24px 0;
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 20px 20px 14px;
  animation: status-slide-in 0.8s;
}

#crawl-status {
  @extend %centered-info;
  z-index: 97;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
}

#crawl-status-padding {
  @extend %centered-info;
  height: 57px;
  background: none;
  border: none;
  animation: none;
}

#crawl-options {
  @extend %centered-info;
  border-color: $base-color;
  z-index: 98;
  animation: none;

  .option-header {
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4px;

    &:nth-of-type(n+2) {
      margin-top: 12px;
    }
  }
  label {
    display: block;
    font-size: 0.9em;
    word-break: break-all;
  }
  input {
    margin-right: 10px;
  }
}

#crawl-summary {
  display: flex;
  flex-flow: column wrap;
    
  p {
    font-size: 0.9em;
    margin: 0;
  }
}

.broken-link-data {
  @extend %centered-main-column;
  z-index: 1;
  /*margin-bottom: 20px;*/
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-bottom: none;
  padding: 26px 40px;
  word-break: break-all;
  animation: slide-in 0.5s;
  background: white;
  position: relative;

  &:first-of-type {
    border-top-right-radius: $border-radius;
  }

  &:last-of-type {
    border-bottom: 1px solid $border-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    margin-bottom: 100px;
  }

  &.url, &.image, &.video {
    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 46px 46px 0 0;
      border-color: transparent;
    }
    &:after {
      content: '';
      font-size: 8px;
      margin: 4px;
      color: white;
      display: block;
      height: 18px;
      width: 18px;
      background-size: 18px 18px;
    }
  }

  &.url {
    &:before {
      border-color: #EB5627 transparent transparent transparent;
    }
    &:after {
      background-image: url("../images/link.svg");
    }
  }

  &.image {
    &:before {
      border-color: #01B091 transparent transparent transparent;
    }
    &:after {
      background-image: url("../images/image.svg");
    }
  }

  &.video {
    &:before {
      border-color: #FEC434 transparent transparent transparent;
    }
    &:after {
      background-image: url("../images/videocamera.svg");
    }
  }

  .broken-link-url {
    font-weight: bold;
    margin-top: -2px;
    font-size: 14px;
    line-height: 1.2;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  
  .broken-link-parents {
    font-size: 12px;
    p {
      margin-bottom: 0;
    }
    ol {
      padding-left: 16px;
      margin: 0;
    }
  }
}

#status-icon {
  margin-right: 15px;
  svg {
    vertical-align: middle;
    height: 20px;
    width: 20px;
  }
}

#spinner {
  height: 15px;
  width: 15px;

  animation: rotate 0.8s infinite linear;
  border: 3px solid $light-grey;
  border-right-color: transparent;
  border-radius: 50%;
}

.tick {
  stroke: $light-grey;
  animation: tick-animate 1s;
}


/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@keyframes status-slide-in {
  from {
    opacity: 0;
    margin-top: -80px;
  }
  to {
    opacity: 1;
    margin-top: -32px;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    margin-top: -80px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@keyframes tick-animate {
  from {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}