@charset "UTF-8";
/* Base Styles from skeleton css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  line-height: 1.5;
  font-family: "Asap", Trebuchet, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666; }

p {
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.2px; }

input[type="text"] {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  input[type="text"]:focus {
    border: 1px solid #41D3BD;
    outline: 0; }

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
form, #crawl-status, #crawl-status-padding, #crawl-options, .broken-link-data {
  max-width: 630px;
  width: 90vw; }

html {
  background-color: #fafafa; }

.hidden {
  display: none !important; }

#main-container {
  padding-top: 20vh;
  margin: auto;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-broken {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #555; }

#help-content {
  font-size: 0.85em;
  text-align: center;
  color: #888888; }

form {
  z-index: 99;
  margin-bottom: 24px;
  white-space: nowrap; }
  form .url-input {
    width: 100%;
    margin: 0;
    padding-right: 70px; }
  form .url-submit, form .btn-options {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    margin-left: -40px;
    padding: 0;
    font-size: 14px;
    border-radius: 50%;
    border: none;
    background-color: transparent; }
    form .url-submit svg, form .btn-options svg {
      height: 26px;
      width: 16px;
      vertical-align: middle;
      fill: #888888; }
    form .url-submit:hover, form .btn-options:hover {
      background-color: #eee; }
    form .url-submit:focus, form .btn-options:focus {
      outline: none; }
  form .btn-options {
    margin-left: -54px; }

#crawl-status, #crawl-status-padding, #crawl-options {
  background-color: white;
  margin: -32px 0 24px 0;
  box-sizing: border-box;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  padding: 20px 20px 14px;
  -webkit-animation: status-slide-in 0.8s;
          animation: status-slide-in 0.8s; }

#crawl-status {
  z-index: 97;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0; }

#crawl-status-padding {
  height: 57px;
  background: none;
  border: none;
  -webkit-animation: none;
          animation: none; }

#crawl-options {
  border-color: #41D3BD;
  z-index: 98;
  -webkit-animation: none;
          animation: none; }
  #crawl-options .option-header {
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4px; }
    #crawl-options .option-header:nth-of-type(n+2) {
      margin-top: 12px; }
  #crawl-options label {
    display: block;
    font-size: 0.9em;
    word-break: break-all; }
  #crawl-options input {
    margin-right: 10px; }

#crawl-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap; }
  #crawl-summary p {
    font-size: 0.9em;
    margin: 0; }

.broken-link-data {
  z-index: 1;
  /*margin-bottom: 20px;*/
  box-sizing: border-box;
  border: 1px solid #D1D1D1;
  border-bottom: none;
  padding: 26px 40px;
  word-break: break-all;
  -webkit-animation: slide-in 0.5s;
          animation: slide-in 0.5s;
  background: white;
  position: relative; }
  .broken-link-data:first-of-type {
    border-top-right-radius: 4px; }
  .broken-link-data:last-of-type {
    border-bottom: 1px solid #D1D1D1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 100px; }
  .broken-link-data.url:before, .broken-link-data.url:after, .broken-link-data.image:before, .broken-link-data.image:after, .broken-link-data.video:before, .broken-link-data.video:after {
    position: absolute;
    top: 0;
    left: 0; }
  .broken-link-data.url:before, .broken-link-data.image:before, .broken-link-data.video:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 46px 0 0;
    border-color: transparent; }
  .broken-link-data.url:after, .broken-link-data.image:after, .broken-link-data.video:after {
    content: '';
    font-size: 8px;
    margin: 4px;
    color: white;
    display: block;
    height: 18px;
    width: 18px;
    background-size: 18px 18px; }
  .broken-link-data.url:before {
    border-color: #EB5627 transparent transparent transparent; }
  .broken-link-data.url:after {
    background-image: url("../images/link.svg"); }
  .broken-link-data.image:before {
    border-color: #01B091 transparent transparent transparent; }
  .broken-link-data.image:after {
    background-image: url("../images/image.svg"); }
  .broken-link-data.video:before {
    border-color: #FEC434 transparent transparent transparent; }
  .broken-link-data.video:after {
    background-image: url("../images/videocamera.svg"); }
  .broken-link-data .broken-link-url {
    font-weight: bold;
    margin-top: -2px;
    font-size: 14px;
    line-height: 1.2; }
    .broken-link-data .broken-link-url a {
      color: inherit;
      text-decoration: none; }
  .broken-link-data .broken-link-parents {
    font-size: 12px; }
    .broken-link-data .broken-link-parents p {
      margin-bottom: 0; }
    .broken-link-data .broken-link-parents ol {
      padding-left: 16px;
      margin: 0; }

#status-icon {
  margin-right: 15px; }
  #status-icon svg {
    vertical-align: middle;
    height: 20px;
    width: 20px; }

#spinner {
  height: 15px;
  width: 15px;
  -webkit-animation: rotate 0.8s infinite linear;
          animation: rotate 0.8s infinite linear;
  border: 3px solid #6f6f6f;
  border-right-color: transparent;
  border-radius: 50%; }

.tick {
  stroke: #6f6f6f;
  -webkit-animation: tick-animate 1s;
          animation: tick-animate 1s; }

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@-webkit-keyframes status-slide-in {
  from {
    opacity: 0;
    margin-top: -80px; }
  to {
    opacity: 1;
    margin-top: -32px; } }
@keyframes status-slide-in {
  from {
    opacity: 0;
    margin-top: -80px; }
  to {
    opacity: 1;
    margin-top: -32px; } }

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    margin-top: -80px; }
  to {
    opacity: 1;
    margin-top: 0; } }

@keyframes slide-in {
  from {
    opacity: 0;
    margin-top: -80px; }
  to {
    opacity: 1;
    margin-top: 0; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes tick-animate {
  from {
    stroke-dasharray: 50;
    stroke-dashoffset: 50; }
  to {
    stroke-dashoffset: 0; } }

@keyframes tick-animate {
  from {
    stroke-dasharray: 50;
    stroke-dashoffset: 50; }
  to {
    stroke-dashoffset: 0; } }
